.Ellipse-2 {
      
    width: 30px;
    height: 38px;
    border-radius: 50%;
    margin: -10px 861px 0 0;
    padding: 1px 10px 4px;
    background-color: #fff;
    float: left;
  }
  
  .Rectangle-2331 {
    width: 1366px;
    height: 28px;
    margin: 0 0 37px;
    padding: 15px 101px 13px 102px;
    background-color: #ce0505;
  }
  .e {
    width: 32px;
    height: 47px;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.52; */
    letter-spacing: normal;
    text-align: left;
    color: #eb2929;
  }
  .Web-1920-6 {
    width: 100%;
    height: 100%;
    padding: 0 0 88px;
    background-color: #fbfbfb;
    overflow: hidden
  }
  .Rectangle-5 {
   
    width: 200px;
    height: 474px;
    margin: 27px 45px 8px 113px;
    padding: 17px 25px 31px 26px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    position: absolute;
    top: auto;
    
    
  }
  


  .Rectangle-6 {
    
    width: 600px;
    height: 190px;
    margin: 27px 154px 34px 45px;
    padding: 25px 32.6px 20px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: absolute;
    top:auto;
    left :400px;
  }
  .Rectangle-2320 {
    
    width: 600px;
    height: 190px;
    margin: 5px 154px 38px 45px;
    padding: 25px 32.6px 20px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: absolute;
    top: 420px;
    left: 400px;
  }
  .Breakfast-Places-in-Mumbai {
    width: 512px;
    height: 51px;
    margin: 37px 25px 27px 113px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.53; */
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
  }
  